<!DOCTYPE html>
<html>
  <head>
   <title>College Football Scoreboard</title>
  </head>
  <body>
    <div id="scoreboard">
      {{range .}}
        <div id="tile">
          {{.Status}} 
          <br>

          {{if .StartTimeTBD }} Time TBD 
          {{else}} {{.StartDate}}
          {{end}}
          <br>

          {{if .TV}} {{.TV}}<br>{{end}}

          {{.HomeTeam.Name}} {{.HomeTeam.Points}}
          <br>

          {{.AwayTeam.Name}} {{.AwayTeam.Points}}
          <br>

          {{if .Period}} {{.Period}}<br> {{end}} 
          
          {{if .Clock}} {{.Clock}}<br> {{end}}
          
          {{if .Situation}} {{.Situation}}<br> {{end}}
          
          {{if .Possession}} {{.Possession}}<br> {{end}}    

          {{.Venue.Name}}, {{.Venue.City}}, {{.Venue.State}}
          <br>

          {{if .Weather.Temperature}} {{.Weather.Temperature}}<br> {{end}}
          
          {{if .Weather.Description}} {{.Weather.Description}} {{end}}
          
          
          {{if .Betting.Spread}} {{.Betting.Spread}} {{end}}
          
          {{if .Betting.OverUnder}} {{.Betting.OverUnder}} {{end}}
              
          <br>
          <br>
        </div>
      {{end}}
    </div>
  </body> 
</html>