<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8"/>
  <title>College Football Scoreboard</title>
  <link rel="stylesheet" href="assets/style.css"></head>
<body>
  <h1>College Football Standings</h1>
  <h2> Data provided by <a href="https://collegefootballdata.com/"> CollegeFootballData.com</a> </h2>
  <h1>All Conference Standings</h1>
  {{ range $key, $value := . }}
  <section class="conference">
      <h2>{{$key}}</h2>
      <div class="standings">
          <div class="table-header">
              <div class="team">Team</div>
              <div class="wins">Wins</div>
              <div class="losses">Losses</div>
              <div class="pct">PCT</div>
              <div class="conf-wins">Conf Wins</div>
              <div class="conf-losses">Conf Losses</div>
          </div>
          {{range .}}
          <div class="team-row">
              <div class="team-name">{{.Team}}</div>
              <div class="wins">{{.Total.Wins}}</div>
              <div class="losses">{{.Total.Losses}}</div>
              <div class="pct">{{.Total.Pct}}</div>
              <div class="conf-wins">{{.ConferenceGames.Wins}}</div>
              <div class="conf-losses">{{.ConferenceGames.Losses}}</div>
          </div>
          {{end}}
      </div>
  </section>
  {{ end }}
  <script type="text/javascript" src="assets/script.js"></script></script>
</body>
</html>
